<form name="form1" action="controllerUpdate" method="post">
    <input type="hidden" name="id" id="id" placeholder="Id" value="{{dados}}"><br>
    <input type="text" name="name" id="name" placeholder="Nome" value="{{name}}"><br>
    <input type="text" name="age" id="age" placeholder="Idade" value="{{age}}"><br>
    <input type="text" name="course" id="course" placeholder="Curso escolhido" value="{{course}}"><br>
    <input type="submit" name="btnSubmit" id="btnSubmit" placeholder="Atualizar"><br>
</form>