// Arquivo principal onde sempre será considerado o default layout.

<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <title>CRUD com NodeJs</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        {{{body}}}
        {{!-- tudo o que for alterado nos layouts irá apenas mudar no body que está entre chaves --}}

        <script src="/js/javascript.js"></script>
    </body>
</html>